
@font-face {
    font-family: desigz;
    src: url(./assets/fonts/_Xms-HUzqDCFdgfMm4S9DQ.woff2) format('woff2');
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,html{
    height: 100%;
    width: 100%;
}


body{
    font-family: desigz;
}



@keyframes marqueee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@layer utility {
    .view-1-marquee {
        animation: marqueee 10s linear infinite;
    }
}

// main{
//     .view-3{
//         .view-3-container-2{
//             .view-3-elem-a{
//                 .view-3-container-2-a{
//                     .elem-a-2{

//                     }
//                 }
//             }
//         }
//     }
// }